* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ff7e7e;
    background-color: rgb(255, 231, 201);
}

#buttonALERT {
    background-color: #ff7e7e;
    font-size: 32px;
    width: 100vw;
    height: 100px;
}

#buttonALERT:hover {
    background-color: #fffebc;
}